
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heads
{
    @Styles.Render("~/Content/homecss")
}
@Html.Partial("Header")
<div class="main-cart">
    <div class="content-cart">
        <div class="block-1">
            <div class="p-gender">
                Giỏ hàng của anh Tuan
            </div>
        </div>
        <div class="block">
            <div class="item-cart">
               
                <img alt="Kem đặc có đường DeliPure lon 380g" src="https://cdn.tgdd.vn/Products/Images/2526/86753/bhx/kem-dac-co-duong-delipure-lon-380g-202002141032533774_300x300.jpg" width="60" height="60">
                <div class="info-item-cart">
                    <div class="head-title">
                        <a href="/sua-dac/sua-dac-co-duong-delipure-380g" class="name">Kem đặc có đường DeliPure lon 380g</a>
                        <div class="colmoney"><strong>750.000₫</strong></div>
                    </div>
                    <div class="quantity">
                        <div class="quantitynum">
                            <i class="noselect-minus">-</i>
                            <input value="1" type="number" min="0" max="50" class="qty">
                            <i class="noselect-plus plus">+</i>
                        </div>
                        <a class="delete">Xóa</a>
                    </div>
                    <span class="unit">15.000₫ / lon</span>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="popup-soldout" style="display:none;">
    <div class="ajs-dialog" tabindex="0">
        <div class="ajs-body">
            <div class="ajs-content">Sản phẩm chỉ cho phép mua tối đa 50 san pham</div>
        </div>
        <div class="ajs-footer">
            <button class="ajs-ok">ĐỒNG Ý</button>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/owl.carousel")
