
<footer class="m-footer">
    <div class="main-footer">
        <div class="footer-order">
            <div class="footer-order-left">
                <img src="#" />
                <p>
                    Đặt online
                    <b>
                        giao tận nhà ĐÚNG GIỜ
                    </b>
                    <br />
                    (nếu trễ đền 50.000₫)
                </p>
            </div>
            <div class="footer-order-right">
                <a href="https://www.bachhoaxanh.com/kinh-nghiem-hay/chinh-sach-doi-tra-1230736">
                    <i class="bhx-swap"></i>
                    <p>
                        Đổi, trả sản phẩm <b>trong 7 ngày</b>
                    </p>
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="detail">
                <div class="detail-left">
                    <div class="callcenter">
                        <i class="bhx-call"></i> Tổng đài: <a href="tel:19001908">1900.1908</a> - <a href="tel:02836229900">028.3622.9900</a> (7:00 - 21:30)
                    </div>
                    <div class="linkstatic">
                        <div class="link-1">
                            <a class="link link-footer" href="/chinh-sach-giao-hang">Chính sách giao hàng</a>
                            <a class="link link-footer" href="/kinh-nghiem-hay/chinh-sach-doi-tra-1230736">Chính sách đổi trả</a>
                            <a class="link link-footer" href="/lien-he">Liên hệ</a>
                        </div>


                        <div class="link-2">
                            <a class="link link-footer" href="/https://hddt.bachhoaxanh.com" target="_blank" rel="noopener">Hóa đơn điện tử</a>
                            <a class="link link-footer" href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                            <a class="link link-footer" href="/quy-che-hoat-dong">Quy chế hoạt động</a>
                        </div>
                        <div class="link-3">
                            <a class="recruitment link" href="https://vieclam.thegioididong.com" target="_blank" rel="noopener">Tuyển dụng </a>
                            <a class="link" href="https://vieclam.thegioididong.com" target="_blank" rel="noreferrer"><strong>8.401</strong> công việc đang chờ bạn</a>
                        </div>
                    </div>
                    <div class="logo-member">
                        <span>Website thành viên</span>
                        <div class="link-member">
                            <a href="https://www.thegioididong.com/" target="_blank" aria-hidden="true" rel="noopener"><i class="bhx-tgdd"></i></a>
                            <a href="https://www.dienmayxanh.com/" target="_blank" aria-hidden="true" rel="noopener"><i class="bhx-dmx"></i></a>
                            <a href="https://www.maiamtgdd.vn/" target="_blank" aria-hidden="true" rel="noopener"><i class="bhx-maiam"></i></a>
                        </div>
                    </div>
                </div>
                <div class="detail-right">
                    <div class="dki-product">
                        <i class="bhx-footer-purchase"></i>
                        <a href="/thu-mua-san-pham" class="purchaselink">Đăng ký chào hàng vào Bách Hóa Xanh</a>
                    </div>
                    <div class="bhx-stores">
                        <i class="bhx-store"></i><a href="/he-thong-sieu-thi">Hệ thống <span>1.693</span> cửa hàng Bách Hóa Xanh</a>
                    </div>
                    <div class="promotion">
                        7
                        <a href="/he-thong-sieu-thi#newstores">cửa hàng mới khai trương</a>
                        <div class="lab_promo">(Có khuyến mãi)</div>
                    </div>
                    <div class="stores-about-to-open">
                        5<a href="/he-thong-sieu-thi#comingstores">cửa hàng sắp khai trương</a>
                    </div>
                    <div class="social">
                        <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=43376" target="_blank" class="bhx-bct" aria-hidden="true" rel="noopener"></a>
                        <a href="https://www.dmca.com/Protection/Status.aspx?ID=ef7c58db-1070-4726-9941-843b4ef9a243&amp;refurl=https://www.bachhoaxanh.com/" title="DMCA.com Protection Status" class="dmca-badge">
                            <img width="100" height="20" class="lazy initial loaded" data-src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=ef7c58db-1070-4726-9941-843b4ef9a243" alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=ef7c58db-1070-4726-9941-843b4ef9a243" data-was-processed="true">
                        </a>
                        <iframe name="f7b10bf69f4624" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.2/plugins/like.php?action=like&amp;app_id=369722380436915&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df39ba490b08db5%26domain%3Dwww.bachhoaxanh.com%26origin%3Dhttps%253A%252F%252Fwww.bachhoaxanh.com%252Ff1b38e4485d98a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsieuthibachhoaxanh%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small&amp;width=90px" style="border: none; visibility: visible; width: 90px; height: 28px;" class=""></iframe>

                        <div class="yt-subscribe">

                            <span>YouTube</span>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</footer>
<div class="feedback">
    <i class="img-feedback">
    </i>
</div>
<div class="backtop">
    ↑<br />
    lên đầu trang
</div>
<div class="popup-cmt" style="display:none;">
    <div class="confirm-cmt">
        <h1 class="title-cmt">
            Bách hoá xanh xin hân hạnh được hỗ trợ quý khách
        </h1>
        <form id="frmContact" onsubmit="return SubmitContact('#frmContact')" method="post">
            <div class="js-float-label-wrapper">
                <textarea name="txtContent" class="txtContent" rows="3" placeholder="Nội dung (xin quý khách mô tả chi tiết)"></textarea>
            </div>
            <div class="gendercomment">
                <input type="radio" name="gendercmt" /> Anh
                <input type="radio" name="gendercmt" /> Chi
            </div>
            <input class="fullname" type="text" name="txtFullName" placeholder="Họ và tên của quý khách">
            <input class="phone-number" type="number" placeholder="Nhập số điện thoại (khi cần BachhoaXANH gọi lại)" maxlength="11">
            <input class="email" type="text" name="txtEmail" placeholder="Email của quý khách">

            <input type="hidden" name="txtSex" value="1">
            <div class="contact-vvbtn">
                <button class="submit-cmt" title="Gửi góp ý cho Bách hóa Xanh" type="submit">Gửi góp ý</button>
            </div>
            <div class="close-cmt">
                Đóng
            </div>
        </form>

    </div>
</div>