<div class="groupcate">
    <div class="namegroup">Nhóm hàng thường mua</div>
    <div class="box-listgroup">
        <div class="listgroup listgroup-up">
            <a href="/cu">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8785/bhx/cu-qua-202010011028494832.jpg" alt="Củ, quả" src="//cdn.tgdd.vn/Products/Images/8785/bhx/cu-qua-202010011028494832.jpg" data-was-processed="true">
                <span>Củ, quả</span>
            </a>
            <a href="/rau-sach">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8820/bhx/rau-202010011029145459.jpg" alt="Rau" src="//cdn.tgdd.vn/Products/Images/8820/bhx/rau-202010011029145459.jpg" data-was-processed="true">
                <span>Rau</span>
            </a>
            <a href="/hanh-toi-tac-me-rau-nem">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8786/bhx/hanh-toi-tac-me-rau-nem-202010011028268990.jpg" alt="Hành, tỏi, tắc, me, rau nêm" src="//cdn.tgdd.vn/Products/Images/8786/bhx/hanh-toi-tac-me-rau-nem-202010011028268990.jpg" data-was-processed="true">
                <span>Hành, tỏi, tắc, me, rau nêm</span>
            </a>
            <a href="/dau-goi">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/2483/bhx/dau-goi-202006021004286121.png" alt="Dầu gội" src="//cdn.tgdd.vn/Products/Images/2483/bhx/dau-goi-202006021004286121.png" data-was-processed="true">
                <span>Dầu gội</span>
            </a>
            <a href="/bot-giat">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/2463/bhx/bot-giat-202006021112004707.png" alt="Bột giặt" src="//cdn.tgdd.vn/Products/Images/2463/bhx/bot-giat-202006021112004707.png" data-was-processed="true">
                <span>Bột giặt</span>
            </a>
        </div>
        <div class="listgroup listgroup-down">
            <a href="/bot-ngot">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/2805/bhx/bot-ngot-202006021100317011.png" alt="Bột ngọt" src="//cdn.tgdd.vn/Products/Images/2805/bhx/bot-ngot-202006021100317011.png" data-was-processed="true">
                <span>Bột ngọt</span>
            </a>
            <a href="/trai-cay-noi">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8788/bhx/trai-cay-202011230929565950.png" alt="Trái cây" src="//cdn.tgdd.vn/Products/Images/8788/bhx/trai-cay-202011230929565950.png" data-was-processed="true">
                <span>Trái cây</span>
            </a>
            <a href="/ca-tom-muc-ech">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8782/bhx/ca-tom-muc-ech-202010010934144850.png" alt="Cá, tôm, mực, ếch" src="//cdn.tgdd.vn/Products/Images/8782/bhx/ca-tom-muc-ech-202010010934144850.png" data-was-processed="true">
                <span>Cá, tôm, mực, ếch</span>
            </a>
            <a href="/thit-ga">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/8790/bhx/thit-ga-thit-vit-chim-cut-202010011030546959.jpg" alt="Thịt gà, thịt vịt, chim cút" src="//cdn.tgdd.vn/Products/Images/8790/bhx/thit-ga-thit-vit-chim-cut-202010011030546959.jpg" data-was-processed="true">
                <span>Thịt gà, thịt vịt, chim cút</span>
            </a>
            <a href="/sua-tuoi">
                <img width="45" class="lazy initial loaded" height="45" data-src="//cdn.tgdd.vn/Products/Images/2386/bhx/sua-tuoi-202006021003313572.png" alt="Sữa tươi" src="//cdn.tgdd.vn/Products/Images/2386/bhx/sua-tuoi-202006021003313572.png" data-was-processed="true">
                <span>Sữa tươi</span>
            </a>
        </div>

    </div>
</div>