<div class="groupcate">
    <div class="namegroup">
        Nhóm hàng thường mua
    </div>
    <div class="listgroup">
        @for (int i = 0; i < 2; i++)
        {
            <a href="/suatuoi">
                <img width="45" height="45" src="~/Content/image/sua-tuoi-202006021003313572.png" alt="sữa tươi" />
                <span>Sữa tươi</span>
            </a>
            <a href="/nuocngot">
                <img width="45" height="45" src="~/Content/image/nuoc-ngot-giai-khat-202006020939383550.png" alt="nước ngọt" />
                <span>Nước ngọt</span>
            </a>
            <a href="/khan-giay-uot">
                <img width="45" height="45" src="~/Content/image/khan-giay-uot-202006010858420776.png" alt="khăn giấy ướt" />
                <span>Khăn giấy ướt</span>
            </a>
            <a href="/hai-san-dong-lanh">
                <img width="45" height="45" src="~/Content/image/thit-hai-san-dong-lanh-201910311114302141.png" alt="hải sản đông lạnh" />
                <span>Thịt, hải sản, rau củ đông lạnh</span>
            </a>

            <a href="/nuoc-uong-co-con">
                <img width="45" height="45" src="~/Content/image/thit-hai-san-dong-lanh-201910311114302141.png" alt="bia" />
                <span>Bia, nước uống có cồn</span>
            </a>

        }
    </div>
</div>
