<div class="groupfeature">
    <h2 class="hometitle">
        SỮA CÁC LOẠI
    </h2>
    <ul class="cate cateproduct">
        @for (int i = 0; i < 4; i++)
        {
            <li class="product">
                <a href="#" title="Cải thìa túi 500g">
                    <div class="boximg center" title="Cải thìa túi 500g">
                        <img width="160" height="160" alt="bg-Lốc 4 hộp sữa tiệt trùng Dutch Lady 170ml" srcset="https://cdn.tgdd.vn/Products/Images/2943/229508/bhx/thung-16-hop-sua-dau-nanh-dau-den-oc-cho-hanh-nhan-yaho-190ml-202011060932118206_300x300.jpg" />
                    </div>
                    <div class="product-name">Lốc 3 hộp sữa tươi nguyên kem</div>
                    <div class="price">
                        <span>42.000đ</span>
                        <strong>22.000đ</strong>
                        <label>-24%</label>
                    </div>
                </a>
                <a class="buy">Chọn mua</a>
            </li>
        }
    </ul>
    <div class="viewmore noafter">Xem thêm 162 sản phẩm khuyến mãi</div>
    <div class="cate-prom">
        <a class="hidden" href="sua-tuoi">Sữa tươi</a>
        <a class="hidden" href="sua-chua">Sữa chua</a>
        <a class="hidden" href="sua-ca-cao">Sữa ca cao</a>
    </div>
</div>
