<div class="groupfeature groupfeaturefresh">
    <div class="banner">
        <img src="~/Content/image/stickFresh.png" alt="Thịt, cá, trứng, rau củ" />
        <div class="countproduct">
            <span class="totalproduct">311</span>
            <span class="text">sản phẩm</span>
        </div>
    </div>

    <div class="cate-list">
        <div class="cate-item">
            <span>
                Thịt, cá,
                <br />
                tôm, trứng
            </span>
        </div>
        <div class="cate-item">
            <span>
                Rau củ,
                <br />
                rau nêm
            </span>
        </div>

        <div class="cate-item">
            <span>
                Trái cây
            </span>
        </div>
        <div class="cate-item">
            <span>
                Thực phẩm
                <br />
                sơ chế sẵn
            </span>
        </div>
        <div class="cate-item">
            <span>
                Thực phẩm
                <br />
                đông lạnh
            </span>
        </div>

    </div>

    <ul class="cate cateproduct">
        @for (int i = 0; i < 4; i++)
        {
            <li class="product">
                <a href="#" title="Cải thìa túi 500g">
                    <div class="boximg center" title="Cải thìa túi 500g">
                        <img width="160" height="160" alt="Cải thìa túi 500g" src="https://cdn.tgdd.vn/Products/Images/8820/226913/bhx/cai-thia-tui-500g-202012120828339329_300x300.jpg" />
                    </div>
                    <div class="product-name">Cải thìa túi 500g</div>
                    <div class="price"><strong>19.000đ</strong></div>
                </a>
                <a class="buy">Chọn mua</a>
            </li>
        }

    </ul>

    <div class="viewmore noafter">
        Xem thêm 341 sản phẩm
    </div>
</div>
