<div class="info-details">
    <strong class="textinfpro">Thông tin sản phẩm</strong>
    <ul class="infoproduct nospeci">
        <li>
            <span>Thương hiệu</span>
            <div>Surf (Hà Lan)</div>
        </li>
        <li>
            <span>Nơi sản xuất</span>
            <div>Việt Nam</div>
        </li>
        <li>
            <span>Công dụng</span>
            <div>Thấm sâu vào từng sợi vải, giúp làm quần áo mềm mại, mà còn đánh bay 7 loại mùi hôi khó chịu với công thức khử mùi, giúp lưu lại hương hoa lôi cuốn cả ngày dài</div>
        </li>
        <li>
            <span>Mùi hương</span>
            <div>Hương cỏ hoa lôi cuốn</div>
        </li>
        <li>
            <span>Dành cho</span>
            <div>Người lớn</div>
        </li>
        <li>
            <span>Phù hợp cho</span>
            <div>Da thường</div>
        </li>
        <li>
            <span>Số lần xả</span>
            <div>Nhiều lần xả</div>
        </li>
        <li>
            <span>Dung tích</span>
            <div>1.6 lít</div>
        </li>
        <li>
            <span>Hướng dẫn sử dụng</span>
            <div>Giặt tay, dùng một lượng vừa đủ như thông thường (khoảng 27ml) cho 10-15 chiếc quần áo. Hòa Surf vào nước xả cuối, đảm bảo lượng nước đủ ngập hết quần áo.<br> Giặt máy, đổ Surf vào ngăn chứa nước xả vải theo hướng dẫn của máy giặt. Điều chỉnh lượng dùng tùy vào số lượng và chất liệu quần áo</div>
        </li>
        <li>
            <span>Lưu ý</span>
            <div>Không đổ trực tiếp lên quần áo. Tránh xa tầm tay trẻ em. Nếu rơi vào mắt hãy rửa thật kỹ với nước</div>
        </li>
        <li>
            <span>Bảo quản</span>
            <div>Bảo quản nơi khô ráo thoáng mát. Tránh tiếp xúc trực tiếp với ánh nắng mặt trời</div>
        </li>
    </ul>
</div>