<div class="product-ctsp">
    <div class="boxcarousel">
        <div id="carousel-ctsp">
            <button id="prew-ctsp" class="bnt-next-ctsp"> <div></div> </button>
            <img class="img-crs-ctsp" src="~/Content/img/ctsp1.jpg">
            <button id="next-ctsp" class="bnt-prew-ctsp"><div></div></button>
        </div>
        <div class="list-carousel">
            <div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp1.jpg">
            </div>
            <div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp2.jpg">
            </div>
            <div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp3.jpg">
            </div>
            <div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp4.jpg">
            </div><div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp5.jpg">
            </div>
            <div class="thumbpro">
                <img width="100%" height="100%" src="../Content/img/ctsp6.jpg">
            </div>
        </div>


    </div>

    <div class="select-ctsp">
        <h1 class="nameproduct">Nho xanh không hạt Mỹ</h1>
        <div class="boxprice">
            <strong>172.000₫</strong>
        </div>
        <a href="#" class="clickbuy">Chọn mua</a>
        <div class="if-tc">
            <p>✓ Táo đỏ&nbsp;nhập khẩu 100% từ Mỹ&nbsp;(<a href="https://www.bachhoaxanh.com/kinh-nghiem-hay/chung-nhan-nhap-khau-cua-tao-do-1175243" target="_blank">Giấy chứng nhận nhập khẩu</a>)</p>
            <p>✓ Đạt tiêu chuẩn xuất&nbsp;khẩu toàn cầu</p>
            <p>✓ Bảo quản tươi ngon đến tận tay khách hàng</p>
            <p>✓ Quả có hình lục lăng, vỏ màu đỏ đậm đẹp mắt</p>
            <p>✓ Thịt táo trắng, thơm, thịt táo chín ít bột, giòn nhẹ, ngọt thanh,&nbsp;nhiều nước</p>
        </div>
    </div>

</div>