<section>
    <aside class="colcontent">
        @Html.Partial("SlideBanner")
        @Html.Partial("GroupCategory")
        @Html.Partial("GroupFeatureFresh")
        @Html.Partial("GroupFeatureProduct")
    </aside>
    <div class="clr"></div>
</section>
