<div class="slide-home owl-carousel owl-theme">

    @{
        for (int i = 1; i < 8; i++)
        {
            <a href="./" style="background: #007251">
                <img width="360" height="130" style="opacity:1;" src="~/Content/image/banner@{ @i }.jpg" />
            </a>
        }
    }

</div>


