<div class="voucher">
    <div class="voucher-title">
        <i class="bhx-voucher"></i>
        <span>Đặt mua phiếu mua hàng điện tử</span>
        <div class="voucher-tip">
            <a href="https://www.bachhoaxanh.com/kinh-nghiem-hay/thong_tin_phieu_mua_hang_dien_tu-1264368" aria-hidden="true" title="Thông tin phiếu mua hàng điện tử">Thông tin phiếu mua hàng điện tử »</a>
        </div>
    </div>
    <div class="main-voucher">
        <div class="main-voucher-step1">
            <div class="title-value">
                <span>
                    <b>buoc 1:</b> Chọn mệnh giá
                </span>
            </div>
            <div class="chosse-value">
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="50000" />
                    <span>50.000₫</span>
                </div>
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="100000" />
                    <span>100.000₫</span>
                </div>
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="200000" />
                    <span>200.000₫</span>
                </div>
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="300000" />
                    <span>300.000₫</span>
                </div>
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="500000" />
                    <span>500.000₫</span>
                </div>
                <div class="value">
                    <input class="radio-vlaue" type="radio" name="radio-total" value="1000000" />
                    <span>1.000.000₫</span>
                </div>
            </div>
        </div>
        <div class="main-voucher-step2">
            <div class="title-value">
                <span>
                    <b>buoc 2:</b> Chọn số lượng
                </span>
            </div>
            <div class="step2">
                <div class="qty">
                    <input type="button" class="down" value="-"></input>
                    <input value="1" min="1" max="99" maxlength="2" autocomplete="off" class="qty-input" />
                    <input type="button" class="up" value="+"></input>

                </div>
                <span class="total">
                    thanh tien
                    <span class="pay-total"> 50.000đ</span>
                </span>
            </div>
            <div class="numberphone">
                <input type="tel" class="txtphone" name="PhoneNumber" placeholder="Nhập số điện thoại để nhận mã phiếu..." aria-label="Số điện thoại">
            </div>

        </div>
        <div class="main-voucher-step3">
            <span>
                <b>buoc 3:</b> Thanh toán
            </span>
            <div class="atm">
                <div class="atm-card card">
                    <div>the <i class="icon-atm-small"></i></div>
                    <span>
                        (co internet banking)
                    </span>
                </div>
                <div class="visa-card card">
                    the<i class="icon-visa-small"></i>


                </div>
                <div class="popup-voucher">
                    <div class="confirm-payment">
                        <span class="close">&times;</span>
                        <span><b>XÁC NHẬN THÔNG TIN</b></span>
                        <span>Phiếu mua hàng mệnh giá: <b>100.000₫</b></span>
                        <span>Số lượng: <b>1</b></span>
                        <span class="spec">Tổng tiền thanh toán: <b>100.000₫</b></span>
                        <span class="spec">Số điện thoại nhận phiếu: <b>0965393858</b></span>
                        <span class="warning-confirm">Vui lòng kiểm tra lại chính xác thông tin trước khi xác nhận thanh toán</span>
                        <button class="bnt-pay">THANH TOÁN NGAY</button>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>