
@{


    ViewBag.Title = "GroupFeatureProduct";
    Layout = null;
}


@foreach (var item in Model)
{
    <li class="product">
        <a href="@Url.Action("indexDetail", "DetailProduct", new { id = item.idProductTitle, idProd = item.idProduct })" title="Cải thìa túi 500g">
            <div class="boximg center" title="Cải thìa túi 500g">
                <img width="160" height="160" alt="bg-Lốc 4 hộp sữa tiệt trùng Dutch Lady 170ml" src=@(item.image != null ? item.image.Split(' ')[0] : "https://cdn.tgdd.vn/Products/Images/2943/229508/bhx/thung-16-hop-sua-dau-nanh-dau-den-oc-cho-hanh-nhan-yaho-190ml-202011060932118206_300x300.jpg") />
            </div>
            <div class="product-name">@(item.productName ?? item.productName)</div>
            <div class="price">
                <span>42.000đ</span>
                <strong>   @(item.productPrice?.ToString("#.##0₫"))</strong>
                <label>-24%</label>
            </div>
        </a>
        <a class="buy">Chọn mua</a>
        <div class="updown">
            <div class="down-ctsp minus"><span></span></div>
            <input class="number-ctsp" value="1" maxlength="50" pattern="[0-9]*" type="number">
            <div class="up-ctsp plus"><span></span> <span></span></div>
        </div>
        <div class="popup-soldout" style="display:none;">
            <div class="ajs-dialog" tabindex="0">
                <div class="ajs-body">
                    <div class="ajs-content">Sản phẩm chỉ cho phép mua tối đa 50 san pham</div>
                </div>
                <div class="ajs-footer">
                    <button class="ajs-ok">ĐỒNG Ý</button>
                </div>
            </div>
        </div>
    </li>

}
<script src="~/Scripts/Home/upanddownproduct.js"></script>


