.header-cart {
    max-height: 38px !important;
    background-color: #037841 !important;
    color:white !important;
}
.main-cart {
   margin-top:80px;
    width: 100%;
    height: 100%;
    z-index: 12 ;
    background-color: #e9edf0
    
}
.sb-content:hover{
    z-index:13;
}
.main-cart .cart {
    display: flex;
    flex-direction: column;
    margin: 20px 473px 0px;
    background-color: white;
}
 
        .content-cart .block-1 .p-gender{
                padding: 10px;
                border-bottom: 1px solid #f0f3f5;
                color: #333;
                font-size: 14px;
                font-weight: bold;
        }
    .main-cart .content-cart .block {
            padding: 10px;
            padding-bottom: 0;
        }
        .content-cart .block .item-cart{
            clear: both;
            padding: 12px 10px 10px;
            font-size: 14px;
            color: #333;
            position: relative;
            margin: 0 -10px;
            border-bottom: 1px solid #f8f8f8;
            width: calc(100% + 20px);
            box-sizing: border-box;
            display:flex;
        }
            .content-cart .block .item-cart >img{
                height:60px;
            }
            .block .item-cart .info-item-cart {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 10px;
            }
            .item-cart .info-item-cart .head-title{
                display:flex;
            }
                .item-cart .info-item-cart .name{
                        display: block;
                        line-height: 1.3em;
                        font-size: 14px;
                        color: #333;
                        margin-bottom: 10px;
                        word-break: break-word;
                        text-align: left;
                        flex-basis:85%;
                        overflow: hidden;
                        height;
                }
               .item-cart .info-item-cart .quantity{
                   display:flex;
                   align-items:center;
               }
                    .info-item-cart .quantity .quantitynum {
                        display: flex;
                        align-content: center;
                    }
                        .quantity .quantitynum > i {
                        padding: 0 7px;
                        width: 26px;
                        font-size: 16px;
                        text-align: center;
                        border: 1px solid #ededed;
                        height: 26px;
                        line-height: 26px;
                        cursor: pointer;
                        background: linear-gradient(#fff,#f7f7f7);
                        font-style: normal;
                    }
                    .quantity .quantitynum .noselect-minus{
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        position:relative;
                        left:4px;
                     
                    }
                    .quantity .quantitynum .noselect-plus {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        position:relative;
                        right:3px;
                 
                    }
                    .quantity .quantitynum .qty {
                        padding: 0 5px;
                        width: 33px;
                        border: 1px solid #ededed;
                        text-align: center;
                        height: 26px;
                        line-height: 26px;
                        box-shadow: 0;
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        font-size: 14px;
                        border-radius: 0;
                        outline:none;
                    }
                .info-item-cart .quantity .delete { 
                    background: #fff;
                    padding: 2px 6px;
                    display: inline-block;
                    cursor: pointer;
                    font-size: 13px;
                    color: #0081bd;
                    margin: 3px 15px;
                    vertical-align: middle;
                    margin-left: 25px;
                     flex-basis:30%;
                }
                .info-item-cart .unit {
                    font-size: 13px;
                    margin-bottom: 6px;
                    margin-top: 9px;
                    display: block;
                    overflow: hidden;
                    font-size: 14px;
                    color: #999;
                }
.block .discountship {
    margin-top:10px;
    background: #fff7e2;
    line-height: 1.3rem;
    padding: 10px;
    font-size: 14px;
    clear: both;
    display: block;
}
    .block .discountship .muathem {
        font-weight: bold;
        position: relative;
        padding: 0;
        overflow: hidden;
        display: inline;
        line-height: 20px;
        max-height: 40px;
    }
        .block .discountship .muathem:before {
            content: '+';
            font-size: 17px;
            position: absolute;
            left: 0;
            top: 0;
            color: #0081bd;
        }
        .block .discountship .muathem > a {
            cursor: pointer;
            margin-left: 13px;
            line-height: 1;
        }
        .block .discountship .muathem .fulltext {
            color: #333;
            font-weight: normal;
            display: inline;
        }
 .summary {
    padding-top: 5px;
    margin: 0 10px;
}
    .summary .row1 {
        width: 100%;
        display: flex;
        overflow: unset;
        font-size: 14px;
    }
        .summary .row1 .col55 {
            width: calc(100%);
            padding-bottom: 5px;
        }
             .col55 >div {
                text-align: right;
                margin-top:5px;
            }
                  .cost > span {
                    display: inline-block;
                    color: #999;
                    width: auto;
                    text-align: right;
                    position: relative;
                }
                 .cost >label {
                    display: inline-block;
                    width: 120px;
                    text-align: right;
                    color: #333;
                    font-size: 14px;
                }
.col55 .shipfee .inline-shipfree {
    display: inline-block;
   
}
 

    .shipfee .inline-shipfree .bhx-qstshipfree {
        background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/sprite@2x-checkout.v202101122327.png);
        background-position: -452px -301px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        zoom: .7;
        background-size: 500px auto;
    }
.row1 .col55 {
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
}
    .couponlink {
    width:204px;
    color: #0081bd;
    margin-top: 5px;
    border: 1px solid #0081bd;
    padding: 5px 9px;
    border-radius: 5px;
}
 .couponlink .icon-use-voucher {
   
    background-position: -229px -239px;
    margin-right: 3px;
    background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/sprite@2x-checkout.v202101122327.png);
    background-size: 295px 300px;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}
.content-cart .btn-order {
    display: block;
    padding: 0;
    line-height: 18px;
}
    .content-cart .btn-order .btn-og {
        margin: 5px 10px 10px;
        display: block;
        padding: 15px 20px;
        font-size: 16px;
        width: calc(100% - 20px);
        font-weight: bold;
        color: #fff !important;
        border: 0;
        text-align: center;
        background: #ff9142;
        border-radius: 4px;
        background: #008848;
        cursor: pointer;
        outline: none;
    }
    .content-cart .btn-order .clearall {
        width: 100%;
        padding: 0 10px;
        text-align: center;
        margin: 20px 0;
    }
        .btn-order .clearall button {
            color: #0081bd;
            background-color: transparent;
            border: none;
            padding: 0 5px;
            cursor: pointer;
            line-height: 20px;
            position: relative;
            outline:none;
        }
.order-cart .backstep {
    float: left;
    padding: 0 10px 10px;
    color: #008848;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    background-color: #e9edf0;  
}
    .order-cart .backstep::after {
        content: "";
        font-size: 8px;
        width: 1em;
        height: 1em;
        border-top: 1px solid #008848;
        border-left: 1px solid #008848;
        transform: rotate(-45deg) skew(0deg);
        position: absolute;
        left: 14px; 
        top:6px;
    }.order-cart .block{
         padding:10px;
     }

       .order-cart .block .profile-block {
           
        }
   
             .block .profile-block .blockGetAddress{
                padding-top: 5px;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }
               .line {
                    margin-top: 12px;
                    border: 3px solid #e9edf0;
                    margin: 10px -10px;
                }
               .profile-block .blockGetAddress .btnGetAddress {
                    font-weight: bold;
                    cursor: pointer;
                    display: block;
                    font-size: 15px;
                }
            .block .profile-block .box-curaddress{
                    position: relative;
                    background: #fff;
            }
                .profile-block .box-curaddress .hpro {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 10px 0;
                    font-weight: bold;
                    
                }
        .block .profile-block .wrapcheckbox {
            width: 100%;
            padding:10px;        
            display: block;
            line-height: 30px;
            box-sizing: border-box;
            min-height: 30px;
        }
.block .profile-block .txtname {
    background-color:white;
    display: flex;
    flex-direction: column;
    border: solid 1px #bebcbc;
    border-radius: 4px;
    padding: 4px;
}
.color-border {
    border: solid 1px #008848 !important;
}
.txt:hover {
    border: solid 1px #008848 !important;
}

.name-order-befor {  
    font-size: 1.2em !important;
    transition: font-size .3s;
    
}

.name-order-after {
    height: 20px !important;
    font-size: 15px !important;
    transition: font-size .3s;
   
}
 .txt {
    background-color:white;
    display: flex;
    flex-direction: column;
    border: solid 1px #bebcbc;
    border-radius: 4px;
    padding: 4px;
    margin-top:10px;
}

.receiver {
    display:none;
    padding: 10px 6px;
    background-color: #dee7ee;
}
       .txtorder {
           background-color:white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            font-size: 1.2em;
        }
.ip {
    background-color:white;
    display: none;
    outline: none;
    border: hidden;
    height: 20px;
}
.txtorder::after {
    content: "*";
    color: red;
}
.delivery-address{
    display:flex;
    flex-direction:column;
}
    .rtv {
        
        text-align: left;
        padding: 15px 24px 15px 0;
        font-weight: bold;
        font-size: 14px;
    }
    .delivery-address .row-location {
        background: #fff !important;
        padding: 0 0 5px;
        border-radius: 4px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        max-width: initial !important;
    }

        .adressrow {
            display: flex;
        }
            .adressrow-general {      
                display:flex;
                align-items:center;
                justify-content:center;
                box-sizing: border-box;
                margin: 0;
                position: relative;
                vertical-align: middle;
                flex-basis:50%;
                margin-right:10px;
                height: 48px;
                border: solid 1px #bebcbc;
                border-radius:4px;
            }
           
                .adressrow .adressrow-general >span {
                                    
                    box-sizing: border-box;             
                    margin: 0;
                    position: relative;
                    vertical-align: middle;
                    color:#0081bd;
                   
                }
.row .adressrow .adressrow-right {
    width:288px;
}
.row .group-city {
    display:none;
    padding: 10px;
    position: absolute;
    background-color: white;
    width: 606px;
    height: 240px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: auto;
}
    .row .group-city .chosse-city {
        display: flex;
        flex-direction: column;     
        width:100%;
        cursor:pointer;
            
    }
    .group-city .chosse-city >input{
        outline:none;
        height:25px;
       
       
    }
        .group-city .chosse-city >div{          
            display:flex;
            align-items:center;
            height:33px;
        }
            .group-city .chosse-city > div:hover {
                background-color: #e8e8e8;
            }
                .group-city .chosse-city .chosse-a-city{
                    display:block;
                    width:100%;
                    height:100%;
                     margin-top:5px;
                }
.color-location {
    color: #0081bd !important;
}
.check-call-order{
    margin-top:10px;
}
.adressrow .group-time-receive{
    flex-basis:40%;
    margin-right:10px;
}
    .adressrow .group-time-receive .date-receive {
        display: flex;
        justify-content:center;
        flex-direction: column;
        width: 100%;
        outline: none;
       
      
    }
         
     .ul-receive {
        display:none;
        border: solid 1px #bebcbc;
        border-top: none;  
        position: relative;
        bottom: 2px;
        z-index: 10;
        background-color: white;

    }

     .datetime-receive {
        display: block;
        height: 48px;
        padding: 14px 10px;
    }
        .adressrow .time-receive {
            flex-basis: 60%;
        }
            .adressrow .time-receive .delivery-time {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                outline: none;
            }
.span-delivery-time {
    display: block;
    border: solid 1px #bebcbc;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    padding: 14px 10px;
}
.btn-finnish{
    margin-top:55px;
    display:flex;
    flex-direction:column;
    text-align:center;
}
    .btn-finnish .confirm-order {
        width: 340px;
        height: 50px;
        margin: auto;
        padding: 10px 5px 5px;
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: #fff !important;
        border: 0;
        text-align: center;
        background: #ff9142;
        border-radius: 4px;
        background: #008848;
        cursor: pointer;
        outline: none;
    }
    .btn-finnish .clear-all {
        cursor: pointer;
        font-size: 14px;
        margin: 20px 0;
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }
    .btn-finnish .box-dieukhoan {
        width: 100%;
        display: block;
        padding-bottom: 10px;
    }
        .btn-finnish .box-dieukhoan > a {
            text-align: center;
            width: 100%;
            display: inline-block;
            color: #999;
            font-size: 11px;
            line-height: 18px;
            background: #e9edf0;
            padding: 10px;
           
        }
.popup-clear-cart {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    background-color: #1d1d1d9c;
    padding: 200px 0px 0px 700px;
}
    .popup-clear-cart .ajs-dialog {
       
        height:108px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;      
        max-width: 640px;
        padding: 10px 6px 0 6px;
        border-radius: 5px;
        overflow: hidden;
        width: 35%;
        box-sizing: border-box;
        top: 15vh;
        outline:none;
    }
        .popup-clear-cart .ajs-dialog .ajs-no {
            width:65px;
            height: 25px;
            color: #fff;
            background-color: #ccc;
            border: 1px solid #ccc  ;
            border-radius: 4px;
            cursor: pointer;
            margin: 10px;
            outline: none;
        }
.note-info{
    color:red;
    margin-top:5px;
    font-size:1em;
}
.district-note{
 color:red !important;
}
.popup-check-null {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    background-color: #1d1d1d9c;
    padding: 200px 0px 0px 700px;
}

    .popup-check-null .ajs-dialog {
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        max-width: 640px;
        padding: 10px 6px 0 6px;
        border-radius: 5px;
        overflow: hidden;
        width: 35%;
        box-sizing: border-box;
        top: 15vh;
        outline: none;
    }

        .popup-check-null .ajs-dialog .ajs-no {
            width: 65px;
            height: 25px;
            color: #fff;
            background-color: #ccc;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            margin: 10px;
            outline: none;
        }
.confirm-pay {
    display: flex;
    flex-direction: column;
    margin: 20px 473px 0px;
    background-color: white;
}

.confirm-pay .group-pay {
    padding-top: 20px;
    display:flex;
    justify-content:center;
}
    .confirm-pay .group-pay .message-thanks {
        padding: 10px;
        border-bottom: 1px solid #f0f3f5;
        color: #008848;
        font-size: 14px;
        font-weight: bold;
    }
.group-pay .message-thanks .icon-ordersuccess {
    background-position: -63px -211px;
    width: 26px;
    height: 28px;
    margin-right: 4px;
    display: inline-block;
    zoom: .85;
    background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/sprite@2x-checkout.v202101211250.png);
    background-size: 295px auto !important;
    line-height: 30px;
    vertical-align: middle;
}
.confirm-pay .list-info {
    padding-top: 20px;
    display: flex;
    flex-direction:column;
    
}
    .confirm-pay .list-info .shipping {
       list-style-type: none;
       margin:10px;
    }
    .confirm-pay .list-info .shipping >li{
        padding:5px 15px;
        position:relative;
    }
        .confirm-pay .list-info .shipping > li:before {
            color: #ccc;
            content: "•";
            display: inline;
            font-size: 16px;
            margin-right: 5px;
            position: absolute;
            top: 3px;
            left: 2px;
        }
    .confirm-pay .list-info .cart-info {
        padding: 10px;
    }
.list-info .cart-info .viewListCartItem {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
    .list-info .cart-info .viewListCartItem:before {
        color: #ccc;
        content: "•";
        display: inline;
        font-size: 16px;
        margin-right: 5px;
        position: absolute;
        top: -2px;
        left: 5px;
    }
    .list-info .cart-info .viewListCartItem::after {
        content: '';
        width: 0;
        right: 0;
        border-top: 6px solid #288ad6;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        display: inline-block;
        vertical-align: middle;
        margin: -2px 0 0 5px;
    }
    .list-info .cart-info .viewListCartItem.expend::after {
        content: '';
        width: 0;
        right: 0;
        display: inline-block;
        vertical-align: middle;
        margin: -2px 0 0 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #0081bd;
        border-top: 0;
    }
.total-cart{
    margin:10px 0px;
}
.message-info-payment {
    padding: 10px;
    background: #fff7e2;
    width: 98%;
    margin: 10px auto;
}
.pay-cash {
    display: flex;
    color: #008848;
}
    .pay-cash .icon-cash {
        background-position: -7px -239px;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        margin: 0 auto;
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
        background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/sprite@2x-checkout.v202101211609.png);
        background-size: 295px auto !important
    }
.btn-home {
    text-align: center;
    background: #e9edf0;
    padding: 15px;
    margin-bottom: 0 !important;
}

    