/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.groupfeature .hometitle {
    padding: 7px 10px 12px;
    background: #e9edf0;
    position: relative;
    text-transform: uppercase;
}

    .groupfeature .hometitle:before {
        content: '';
        border-left: 4px solid #008848;
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
    }

.hometitle {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    color: #4a4a4a;
    font-weight: 600;
    margin-top: 5px;
}

.groupfeature .cate {
    background: none;
    overflow: inherit;
}

.cate {
    display: flex;
    flex-flow: row wrap;
    clear: both;
}

.product {
    float: left;
    width: 245px;
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    margin: 0;
    position: relative;
    padding-bottom: 60px;
}

    .product a {
        display: block;
        overflow: hidden;
        padding: 8px 8px 0;
    }

    .product .boximg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 160px;
        position: relative;
        overflow: hidden;
    }

    /*.cate .product .boximg img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
*/
    .product .product-name {
        display: block;
        overflow: hidden;
        line-height: 1.3em;
        font-size: 13px;
        color: #333;
        padding: 10px 0 0;
        margin-bottom: 7px;
        text-overflow: ellipsis;
        white-space: initial;
        min-height: 40px;
        height: 16px;
    }

    .product .price {
        display: block;
        overflow: hidden;
    }

        .product .price span {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            color: #757575;
            text-decoration: line-through;
            font-weight: 300;
        }

        .product .price strong {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            color: #b10e0e;
            font-weight: bold;
            font-weight: normal;
        }

        .product .price label {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #fff;
            font-weight: 600;
            border-radius: 3px;
            background: #de2000;
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }

    .product .buy {
        display: block;
        overflow: hidden;
        font-size: 13px;
        color: #008848;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 10px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #008848;
    }


.viewmore.noafter {
    background: none;
    cursor: pointer;
}

.viewmore {
    display: block;
    overflow: hidden;
    line-height: 30px;
    color: #0064c2;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
    position: relative;
}

.groupfeature .viewmore:after {
    content: '';
    border-top: 5px solid #0064c2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.groupfeature .cate-prom {
    padding: 10px 20px;
    overflow: hidden;
    background: #fff;
}

    .groupfeature .cate-prom a {
        display: inline-block;
        width: 25%;
        float: left;
        line-height: 25px;
        padding-right: 10px;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .groupfeature .cate-prom a:before {
            content: '•';
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
        }
.updown {
    display: none; 
    font-size: 17px;
    text-align: center;
    color: #008848;
    width: 203px;
    height: 42px;
    background-color: white;
    border: 0.5px solid #008848;
    border-radius: 5px;
    margin: 5px 20px;
    padding: 10px 0;
    outline: none;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
}

 .updown .down-ctsp {
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
    background: linear-gradient(#fff,#f3f3f3);
    font-style: normal;
    position: relative;
    top: -10px;
    user-select: none;
    width: 40px;
}

 .updown .number-ctsp {
    float: left;
    width: calc(100% - 87px);
    height: 38px;
    text-align: center;
    line-height: 40px;
    user-select: none;
    border: 1px solid #ececec;
    border-right: 0;
    border-left: 0;
    position: relative;
    top: -10px;
    outline: none;
}

.updown .up-ctsp {
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
    background: linear-gradient(#fff,#f3f3f3);
    font-style: normal;
    position: relative;
    top: -10px;
    user-select: none;
    width: 40px;
}

.updown .down-ctsp > span {
    width: 20px;
    height: 2px;
    background: #1f884c;
    display: block;
    margin: 18px auto;
    border-radius: 4px;
    user-select: none;
}

.updown .up-ctsp > span:nth-child(1) {
    width: 20px;
    height: 2px;
    background: #1f884c;
    display: block;
    margin: 18px auto;
    border-radius: 4px;
    user-select: none;
}

.updown .up-ctsp > span:nth-child(2) {
    width: 20px;
    height: 2px;
    background: #1f884c;
    display: block;
    margin: 18px auto;
    border-radius: 4px;
    user-select: none;
    transform: rotate(90deg);
    position: relative;
    top: -19px;
}
.popup-soldout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    background-color:#1d1d1d0a;
    padding: 200px 0px 0px 700px;
}

    .popup-soldout .ajs-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        width: 500px;
        max-width: 640px;
        padding: 10px 6px 0 6px;
        border-radius: 5px;
        overflow: hidden;
        width: 35%;
        box-sizing: border-box;
        top: 15vh;
    }

        .popup-soldout .ajs-dialog .ajs-body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .popup-soldout .ajs-dialog .ajs-body .ajs-content {
                padding: 5px;
            }
.ajs-dialog .ajs-footer .ajs-ok {
    height:25px;
    color: #fff;
    background-color: #008945;
    border: 1px solid #008945;
    border-radius:4px;
    cursor: pointer;
    margin: 10px;
    outline: none;
}